<a {...Astro.props} class="py-1 px-3" target="_blank" rel="noopener"> <slot /></a>

<style>
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    gap: 0.5rem;
    @apply bg-slate-200/10 shadow-lg ring-1 backdrop-blur ring-white/10;

  }
  a:hover{
    transform: scale(1.1);
    @apply bg-cyan-900/60;
  }
</style>
