<a {...Astro.props} class="py-1 px-3" target="_blank" rel="noopener"> <slot /></a>

<style>
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    gap: 0.5rem;
  }
  a:hover{
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.10);
  }
</style>
