---
import Layout from "../layouts/Layout.astro";

import "@fontsource/nothing-you-could-do";
import SectionContainer from "../components/SectionContainer.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import ExperienceIcon from "../icons/ExperienceIcon.astro";
import Projects from "../components/Projects.astro";
import ProjectsIco from "../icons/ProjectsIcon.astro";
import About from "../components/About.astro";
import AboutIcon from "../icons/AboutIcon.astro";
---

<Layout
  title="Porfolio Luciano Napolitano - Desarollador y Programador Web"
  description="Contrata a Luciano Napolitano para desarrollar tu sitio web o aplicación web."
>
  <main>
    <SectionContainer
      class="min-h-[90dvh] w-svw flex flex-col items-center justify-center bg-[url('/images/hero-bg.webp')] md:bg-fixed bg-cover md:bg-bottom bg-[center_top_10px]"
    >
      <Hero />
    </SectionContainer>
    <SectionContainer
      id="experience"
      class="hola md:py-10 py-8 md:w-[740px] w-full px-5"
    >
      <h2
        class="md:text-4xl text-2xl font-bold mb-5 flex items-center gap-2 animate-fadeUp opacity-0"
      >
        <ExperienceIcon />
        Experiencia
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="projects" class="w-full py-20">
      <h2
        class="md:text-4xl text-2xl font-bold md:mb-20 mb-10 px-5 flex items-center gap-2 md:justify-center"
      >
        <ProjectsIco />
        Proyectos
      </h2>
      <div
        class="xl:w-[1320px] w-full mx-auto flex flex-col lg:grid lg:grid-cols-2 lg:gap-12 px-5 md:px-10"
      >
        <Projects />
      </div>
    </SectionContainer>
    <SectionContainer
      id="about"
      class="md:py-10 py-8 xl:w-[1320px] w-full px-5"
    >
      <h2 class="md:text-4xl text-2xl font-bold mb-5 flex items-center gap-2">
        <AboutIcon />
        Sobre mí
      </h2>
      <About />
    </SectionContainer>
  </main>
</Layout>
<style>
  h2 {
    animation-delay: 500ms;
  }
</style>
