---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import "@fontsource/nothing-you-could-do";
import SectionContainer from "../components/SectionContainer.astro";
import SocialPill from "../icons/SocialPill.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import GItHubIcon from "../icons/GitHubIcon.astro";
import MailIcon from "../icons/MailIcon.astro";
import WppIcon from "../icons/WppIcon.astro";
import Experience from "../components/Experience.astro";
import ExperienceIcon from "../icons/ExperienceIcon.astro";
import Projects from "../components/Projects.astro";
import ProjectsIco from "../icons/ProjectsIcon.astro";
---

<Layout
  title="Porfolio Luciano Napolitano - Desarollador y Programador Web"
  description="Contrata a Luciano Napolitano para desarrollar tu sitio web o aplicación web."
>
  <main class="px-10 pl-14">
    <SectionContainer class="md:py-20 py-10">
      <div class="flex items-center gap-4">
        <img
          class="size-16 rounded-full"
          src="/images/yo.webp"
          alt="yo-photo"
        /><a
          href="https://www.linkedin.com/in/luciano-napolitano/"
          target="_blank"
          rel="noopener"
          style="display: flex;"><Badge>Web Developer</Badge></a
        >
      </div>
      <h1 class="welcome text-4xl md:text-5xl font-bold py-4">
        Hola! Soy Luciano
      </h1>
      <h2 class="sm:text-2xl text-lg pb-4 text-pretty">
        Experiencia en diferentes tecnologías web.
        <span class="text-cyan-500 font-bold font-nothing"
          >PROGRAMADOR y DESAROLLADOR
        </span>especializado en diferentes tecnologias. Actualmente trabajando
        como desarrollador<span class="text-cyan-500 font-bold font-nothing">
          FRONTEND</span
        > en <a
          class="italic"
          href="https://aenima.agency/"
          target="_blank"
          rel="noopener">Aenima</a
        >
        💡
      </h2>
      <ul class="flex sm:gap-4 gap-2 items-center">
        <li>
          <SocialPill href="https://www.linkedin.com/in/luciano-napolitano/">
            <LinkedInIcon />
            <p class="sm:text-sm text-sm">LinkedIn</p>
          </SocialPill>
        </li>
        <li>
          <SocialPill href="https://github.com/LuchoNapo">
            <GItHubIcon />
            <p class="sm:text-sm text-sm">GitHub</p>
          </SocialPill>
        </li>
        <li>
          <SocialPill href="mailto:luciano_napo@hotmail.com;">
            <MailIcon />
            <p class="sm:text-sm text-sm">Mail</p>
          </SocialPill>
        </li>
        <li>
          <SocialPill
            href="https://wa.me/542615055103?text=Hola%2C%20me%20comunico%20desde%20tu%20porfolio"
          >
            <WppIcon />
            <p class="sm:text-sm text-sm">WhatsApp</p>
          </SocialPill>
        </li>
      </ul>
    </SectionContainer>
    <SectionContainer id="experience">
      <h2 class="text-2xl font-bold mb-5 flex items-center gap-2">
        <ExperienceIcon />
        Mi experiencia
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="projects">
      <h2 class="text-2xl font-bold mb-5 flex items-center gap-2">
        <ProjectsIco />
        Mis proyectos
      </h2>
      <div class="flex w-full flex-wrap gap-10">
        <Projects />
      </div>
    </SectionContainer>
  </main>
</Layout>

<style>
  .welcome {
    width: 15.8ch;
    white-space: nowrap;
    border-right: 4px solid;
    animation:
      typing 1.5s steps(18),
      blink 0.5s infinite step-end alternate;
    overflow: hidden;
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
</style>
