---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
  class="flex justify-center items-center md:gap-20 w-full lg:flex-row flex-col-reverse px-5"
>
  <div
    class="flex flex-col lg:w-2/4 gap-4 md:text-lg text-md text-center lg:text-left text-balance"
  >
    <h2 class="md:text-4xl text-3xl font-nothing">{t("about.grettings")}</h2>
    <p class="text-pretty">
      {t("about.body1")}
    </p>
    <p set:html={t("about.body2")} class="text-pretty" />
  </div>
  <div
    class="rounded-full md:m-0 mb-10 p-1 bg-gradient-to-r from-cyan-500 via-teal-800 to-cyan-300 shadow-[0_15px_30px_-5px_rgba(151,65,252,0.2)]"
  >
    <div class="rounded-full xl:size-80 size-64 overflow-hidden">
      <img src="/images/LuchoAbout.webp" alt="Luciano Napolitano" />
    </div>
  </div>
</div>
