---
interface Props {
  icon: any;
  name: string;
  class: string;
}

const { icon: Icon, name, class: className } = Astro.props;
---

<li>
  <span
    class={`${className} flex items-center justify-center py-1 px-3 rounded-full gap-x-1 text-xs dark:shadow-white/100`}
  >
    <Icon class="size-5" />
    {name}
  </span>
</li>
